{% extends 'testapp/base.html' %}

{% block content %}
<br>
<br>
<div class="col-lg-5 shadow mx-auto p-0">
    <h2 class="alert alert-success"> Create Account</h2>
    <div class = "p-4">
        <form action="" method="post">
            {% csrf_token %}
            {{form.as_p}}
            <input class = "btn btn-success" type="submit" value="Register">
        </form>
        <br>
        <p>Already have an account?<a href="{% url 'login' %}"> Login</a></p>
    </div>    

</div>

{% endblock content %}
