{% extends 'testapp/base.html' %}

{% block content %}

<!-- <h3>Task form</h3> -->
<div class="row">
    <div class="col-lg-5 shadow mx-auto p-0 mt-4">
        <h2 class="alert alert-info"> Task Form</h2>
        <a href="{% url 'tasks' %}" class="btn btn-link">Go back</a>
        <div class = "p-4 form-group">
            <form method="post" action="">
                {% csrf_token %}
                {{form.as_p}} 
                <input class = "btn btn-info" type="submit" value="Submit">
            </form>
        </div>
    </div>
</div>
{% endblock content %}
